/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  width: 100%;
}

/* 사이드바 */
#sidebar {
  width: 250px;
  background-color: #333; /* 배경 색상 변경 */
  color: white; /* 글자 색상 변경 */
  padding: 20px;
  position: fixed;
  height: 100%;
  z-index: 10; /* 다른 요소에 가려지지 않게 설정 */
}

#sidebar h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#sidebar ul {
  list-style: none;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  color: white; /* 링크 색상 변경 */
  text-decoration: none;
  font-size: 1.1em;
}

#sidebar ul li a.clicked {
  color: #1abc9c; /* 클릭한 링크 색상 */
}


/* 메인 콘텐츠 */
#main-content {
  margin-left: 260px;
  padding: 20px;
  width: calc(100% - 250px);
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 2em;
  color: #333;
}

h2 {
  font-size: 1.8em;
  margin-top: 20px;
  color: #333;
}

section {
  scroll-margin-top: 100px; /* 사이드바나 헤더 높이에 따라 조절 */
  margin-bottom: 40px;
}

footer {
  text-align: center;
  margin-top: 40px;
}
